flow 3 open weather api.json
[{"id":"6dda1c73.617974","type":"tab","label":"flow 3 Open weather api","disabled":false,"info":""},{"id":"e6021296.032fd","type":"inject","z":"6dda1c73.617974","name":"","topic":"temprature","payload":"api.openweathermap.org/data/2.5/weather?q=New Delhi,IN,IN-DL,ISO 3166-2:IN&appid=b398bed7efbe7bdfc69b00b3ed4e0b0b","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":480,"wires":[["42d3247.03b90dc","ae19e182.571e7"]]},{"id":"42d3247.03b90dc","type":"http request","z":"6dda1c73.617974","name":"based on country code ","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=New Delhi,IN,IN-DL,ISO 3166-2:IN&appid=b398bed7efbe7bdfc69b00b3ed4e0b0b","tls":"","persist":false,"proxy":"","authType":"","x":200,"y":380,"wires":[["65d5ed10.8fa3a4","4bac5ee1.d3dd3","74a7154e.82517c","8e1a539c.8b088","6699bb2e.233504"]]},{"id":"65d5ed10.8fa3a4","type":"function","z":"6dda1c73.617974","name":"Open Weather Api data Evaluator ","func":"var d =new Date(msg.payload.sys.sunrise*1000).toLocaleTimeString(\"en-US\")\nvar date=new Date(msg.payload.sys.sunrise*1000).toLocaleDateString(\"en-US\")\nvar sunset_date= new Date(msg.payload.sys.sunset*1000).toLocaleDateString(\"en-US\")\nvar sunset_time=new Date(msg.payload.sys.sunset*1000).toLocaleTimeString(\"en-US\")\nmsg.payload={\n    \n    \n    temprature:Math.round(msg.payload.main.feels_like-273.15)+\"degree C\",\n    pressure:msg.payload.main.pressure+\"pa\",\n    wind_speed:msg.payload.wind.speed+\"m/s\",\n    wind_deg:msg.payload.wind.deg+\"degrees\",\n    clouds:msg.payload.clouds.all+\"%\",\n    sunrise:date.toString()+\",\"+d.toString(),\n    sunset:sunset_date.toString()+\",\"+sunset_time.toString(),\n    longitude:msg.payload.coord.lon+\"degrees\",\n    latitude:msg.payload.coord.lat+\"degrees\",\n    weather:msg.payload.weather[0].main,\n    country:msg.payload.sys.country,\n    city:msg.payload.name,\n    visibility:msg.payload.visibility+\"Metres\"\n    }\nreturn msg","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["9cd7ed7e.0254e"]]},{"id":"9cd7ed7e.0254e","type":"ui_template","z":"6dda1c73.617974","group":"f288a78c.ed5d38","name":"","order":6,"width":"5","height":"5","format":"<html>\n<head>\n<style>\ntable, th, td {\n  border: 1px solid blue;\n  width:100%;\n  height:50px;\n  background-color:black;\n  <i class=\"fas fa-cloud\" style=\"font-size:24px;\"></i>\n}\n</style>\n</head>\n<body>\n    \n        <table>\n  <tr>\n    <th>Weather condition</th>\n    <th>Value</th>\n  </tr>\n     <tr>\n    <td>Temprature</td>\n    <td>{{msg.payload.temprature}}</td>\n  </tr>\n   <tr>\n    <td>Pressure in pa</td>\n    <td>{{msg.payload.pressure}}</td>\n  </tr>\n   <tr>\n    <td>Wind_speed</td>\n    <td>{{msg.payload.wind_speed}}</td>\n  </tr>\n   <tr>\n    <td>Sunrise</td>\n    <td>{{msg.payload.sunrise}}</td>\n  </tr>\n   <tr>\n    <td>Sunset</td>\n    <td>{{msg.payload.sunset}}</td>\n  </tr>\n   <tr>\n    <td>Longitude</td>\n    <td>{{msg.payload.longitude}}</td>\n  </tr>\n   <tr>\n    <td>Latitude</td>\n    <td>{{msg.payload.latitude}}</td>\n  </tr>\n   <tr>\n    <td>Weather</td>\n    <td>{{msg.payload.weather}}</td>\n    </tr>\n    <tr>\n    <td>Country</td>\n    <td>{{msg.payload.country}}</td>\n  </tr>\n   <tr>\n    <td>City</td>\n    <td>{{msg.payload.city}}</td>\n  </tr>\n  <tr>\n      <td>Visibility</td>\n      <td>{{msg.payload.visibility}}</td>\n  </tr>\n  </table>\n  </body>\n  </html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":800,"y":220,"wires":[["f6920fd.56d4ef"]]},{"id":"f6920fd.56d4ef","type":"debug","z":"6dda1c73.617974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":260,"wires":[]},{"id":"3a0e8d57.655132","type":"function","z":"6dda1c73.617974","name":"Temprature","func":" var temprature=Math.round(msg.payload.main.feels_like)-273\n var crop_grown\nif('22'<temprature<'28'){\n    crop_grown =\"Good weather for growing rice\"\n}\nelse if('21'<temprature<'31'){\n    crop_grown=\"Good for wheat ripening\"\n}\nelse if (10<temprature<15){\n    crop_grown=\"Temprature good for wheat sowing\"\n}\nelse if(20<temprature<25){\n    crop_grown=\"Good for growing grams\"\n}\nelse if(21,temprature<30){\n    crop_grown=\"good for growing cotton\"\n}\nelse{\n    crop_grown=\"nil\"\n}\nmsg.payload=crop_grown\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":1200,"wires":[[]]},{"id":"3339e3d8.8937ac","type":"ui_text","z":"6dda1c73.617974","group":"4caba6aa.65fcb8","order":1,"width":"2","height":"4","name":"wind","label":"Wind suggestion","format":"{{msg.payload}}","layout":"col-center","x":1110,"y":420,"wires":[]},{"id":"4f9eaac7.127364","type":"function","z":"6dda1c73.617974","name":"Wind speed","func":"var cloud=msg.payload.clouds.all\nvar cloud_info\nif('0'<=msg.payload.clouds.all<='20'){\n    cloud_info=\"Whole sunlight will reach earth usrface\"\n}\nelse if(30<=cloud<=60){\n    msg.payload=\"Partial sunlight will reach\"\n}\nelse{\n    msg.payload=\"Little intesnsity of sunlight\"\n}\nmsg.payload=cloud_info\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":1120,"wires":[[]]},{"id":"4bac5ee1.d3dd3","type":"switch","z":"6dda1c73.617974","name":"wind speed ","property":"payload.wind.speed","propertyType":"msg","rules":[{"t":"gt","v":"0.50","vt":"str"},{"t":"lt","v":"1.60","vt":"num"},{"t":"gt","v":"3.30","vt":"str"},{"t":"lt","v":"3.40","vt":"str"},{"t":"gte","v":"5.50","vt":"str"},{"t":"gt","v":"5.50","vt":"str"},{"t":"lte","v":"7.50","vt":"str"},{"t":"gt","v":"8.0","vt":"str"},{"t":"lte","v":"10.8","vt":"str"},{"t":"gt","v":"10.8","vt":"str"},{"t":"lt","v":"13.8","vt":"str"},{"t":"gt","v":"13.9","vt":"str"},{"t":"lte","v":"17.1","vt":"str"},{"t":"gt","v":"17.1","vt":"str"}],"checkall":"false","repair":true,"outputs":14,"x":470,"y":540,"wires":[["374958e9.41a0c8"],["a8ce2e40.232f8"],[],["902450f3.8ee2"],["902450f3.8ee2"],["6dc32508.24119c"],["6dc32508.24119c"],["e83f99d9.dd4fc8"],["e83f99d9.dd4fc8"],["96b22769.c82278"],["96b22769.c82278"],["4b0e1f83.a26ad"],["4b0e1f83.a26ad"],["b32e93ba.21e9a"]]},{"id":"a8ce2e40.232f8","type":"function","z":"6dda1c73.617974","name":"Leave rustle","func":"msg.payload=\"Leaves rustles in the air\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":360,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"902450f3.8ee2","type":"function","z":"6dda1c73.617974","name":"Leave and small twig in motion","func":"msg.payload=\"Leaves and small twigs are in constant motion\"\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"374958e9.41a0c8","type":"function","z":"6dda1c73.617974","name":"Smoke rise ","func":"msg.payload=\"Smoke rises vertically in air\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"6dc32508.24119c","type":"function","z":"6dda1c73.617974","name":"small branches moves","func":"msg.payload=\"small branches will move away\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":480,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"e83f99d9.dd4fc8","type":"function","z":"6dda1c73.617974","name":"small leaves sway","func":"msg.payload=\"Small leaves in tree begin to sway\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":560,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"96b22769.c82278","type":"function","z":"6dda1c73.617974","name":"large branches in motion","func":"msg.payload=\"Large branches in motion\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":640,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"4b0e1f83.a26ad","type":"function","z":"6dda1c73.617974","name":"large branches in motion","func":"msg.payload=\"Large branches in motion\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":740,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"b32e93ba.21e9a","type":"function","z":"6dda1c73.617974","name":"twigs break off ","func":"msg.payload=\"Twigs break off the tree\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":820,"wires":[["6577e08a.9febb","3339e3d8.8937ac"]]},{"id":"6577e08a.9febb","type":"debug","z":"6dda1c73.617974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":600,"wires":[]},{"id":"b7fdef72.b73ef","type":"switch","z":"6dda1c73.617974","name":"Clouds [Assume percentage of cloud cover]","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"lte","v":"10","vt":"str"},{"t":"gt","v":"10","vt":"str"},{"t":"lte","v":"25","vt":"str"},{"t":"gt","v":"25","vt":"str"},{"t":"lt","v":"50","vt":"str"},{"t":"gte","v":"50","vt":"str"},{"t":"lte","v":"90","vt":"str"},{"t":"gt","v":"90","vt":"str"}],"checkall":"false","repair":true,"outputs":9,"x":410,"y":860,"wires":[["ce5df552.332df8"],["ce5df552.332df8"],["47779bb2.320374"],["47779bb2.320374"],["911477b3.93e178"],["911477b3.93e178"],["903cb077.fe6b"],["903cb077.fe6b"],["821ab0c1.5722b"]]},{"id":"ce5df552.332df8","type":"function","z":"6dda1c73.617974","name":"0 % clouds","func":"msg.payload=\"whole sunlight will reach earth surface\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":860,"wires":[["80d46711.3a1b18","7b706613.b30c78"]]},{"id":"47779bb2.320374","type":"function","z":"6dda1c73.617974","name":"few clouds","func":"msg.payload=\"Partial or 90% sunlight will reach crops but greater then minimum\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":920,"wires":[["80d46711.3a1b18","7b706613.b30c78"]]},{"id":"911477b3.93e178","type":"function","z":"6dda1c73.617974","name":"scattered clouds","func":"msg.payload=\"50 to 75 % sunlight will reach earth\"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":980,"wires":[["80d46711.3a1b18","7b706613.b30c78"]]},{"id":"80d46711.3a1b18","type":"debug","z":"6dda1c73.617974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":1060,"wires":[]},{"id":"7b706613.b30c78","type":"ui_text","z":"6dda1c73.617974","group":"4caba6aa.65fcb8","order":2,"width":"2","height":"4","name":"Clouds","label":"Clouds suggestion","format":"{{msg.payload}}","layout":"col-center","x":1010,"y":960,"wires":[]},{"id":"fa88bb02.e1d608","type":"switch","z":"6dda1c73.617974","name":"Temprature","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"str"},{"t":"gte","v":"30","vt":"str"},{"t":"lt","v":"30","vt":"str"},{"t":"gt","v":"25","vt":"str"},{"t":"lte","v":"25","vt":"str"},{"t":"gt","v":"22","vt":"str"},{"t":"lte","v":"22","vt":"str"},{"t":"gte","v":"20","vt":"str"},{"t":"lt","v":"20","vt":"str"},{"t":"gt","v":"15","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"lte","v":"5","vt":"str"}],"checkall":"false","repair":true,"outputs":12,"x":330,"y":1240,"wires":[["cfeca257.3678"],["fded1f8e.55b49"],["d8d57eb2.3734f"],["d8d57eb2.3734f"],["158d2bd7.f32ba4"],["158d2bd7.f32ba4"],["a75c663c.d7cff8"],["a75c663c.d7cff8"],["6eae11fe.7d617"],["6eae11fe.7d617"],["5cdc39f2.b3ee58","75c4fd25.3a5fd4"],["8f3d6d4.fac729","75c4fd25.3a5fd4"]]},{"id":"6eae11fe.7d617","type":"function","z":"6dda1c73.617974","name":"cardamom","func":"msg.payload=\"optimum temprature for growing Cardamom\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1300,"wires":[["1dea023a.53182e","eb81f3ee.4d531"]]},{"id":"a75c663c.d7cff8","type":"function","z":"6dda1c73.617974","name":"potato","func":"msg.payload=\"Optimum Temprature for growing potato\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1260,"wires":[["eb81f3ee.4d531"]]},{"id":"158d2bd7.f32ba4","type":"function","z":"6dda1c73.617974","name":"wheat","func":"msg.payload=\"Optimum temprature for grwoing wheat\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1220,"wires":[["1dea023a.53182e","eb81f3ee.4d531"]]},{"id":"75c4fd25.3a5fd4","type":"function","z":"6dda1c73.617974","name":"corn","func":"msg.payload=\"Optimum temprature for grwoing corn\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1380,"wires":[["1dea023a.53182e","eb81f3ee.4d531"]]},{"id":"5cdc39f2.b3ee58","type":"function","z":"6dda1c73.617974","name":"Soyabean","func":"msg.payload=\"Optimum temprature for grwoing soyabean\"\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1340,"wires":[["1dea023a.53182e","eb81f3ee.4d531"]]},{"id":"d8d57eb2.3734f","type":"function","z":"6dda1c73.617974","name":"Millets","func":"msg.payload=\"good for growing millets\"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1180,"wires":[["1dea023a.53182e","eb81f3ee.4d531"]]},{"id":"8f3d6d4.fac729","type":"function","z":"6dda1c73.617974","name":"cabbage","func":"msg.payload=\"Optimum temprature for growing cabbage\"\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1420,"wires":[["1dea023a.53182e","eb81f3ee.4d531"]]},{"id":"1dea023a.53182e","type":"ui_text","z":"6dda1c73.617974","group":"4caba6aa.65fcb8","order":3,"width":"2","height":"4","name":"","label":"Temprature suggestion","format":"{{msg.payload}}","layout":"col-center","x":940,"y":1320,"wires":[]},{"id":"cfeca257.3678","type":"function","z":"6dda1c73.617974","name":"capsicum","func":"msg.payload=\"capsicum can be grown with well watering\"\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1060,"wires":[["eb81f3ee.4d531","1dea023a.53182e"]]},{"id":"eb81f3ee.4d531","type":"debug","z":"6dda1c73.617974","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1160,"wires":[]},{"id":"74a7154e.82517c","type":"function","z":"6dda1c73.617974","name":"DEGREE TO CELSIUS CONVERSION","func":"msg.payload=Math.round(msg.payload.main.feels_like-273)\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1020,"wires":[["fa88bb02.e1d608"]]},{"id":"ae19e182.571e7","type":"function","z":"6dda1c73.617974","name":"soil moisture ","func":"var d=\n[\n    {\"soil type\":\"Fine clay\",\n    \"No irrigation needed\":\"80-100\",\n    \"Irrigation to be applied\":\"60-80\",\n    \"Dangeresouly low soil moisture\":\" Below 60\"\n},\n{\n    \"soil type\":\"Medium Loamy\",\n    \"No irrigation needed\":\"88-100\",\n    \"Irrigation to be applied\":\"70-88\",\n    \"Dangeresouly low soil moisture\":\" below 70\"\n    \n},    \n{\n    \"soil type\":\"Coarse sandy\",\n    \"No irrigation needed\":\"80-100\",\n    \"Irrigation to be applied\":\"60-80\",\n    \"Dangeresouly low soil moisture\":\" Below 60\"\n}\n]\nmsg.payload=d\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1360,"wires":[["63e99ea3.4d8b8"]]},{"id":"63e99ea3.4d8b8","type":"ui_table","z":"6dda1c73.617974","group":"ed7825b0.f7d0e8","name":"","order":3,"width":"0","height":"0","columns":[{"field":"soil type","title":"soil type","width":"50%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"No irrigation needed","title":"No irrigation needed","width":"90%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Irrigation to be applied","title":" iirigation required","width":"90%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Dangeresouly low soil moisture","title":"Very low soil moisture","width":"90%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":350,"y":1400,"wires":[]},{"id":"903cb077.fe6b","type":"function","z":"6dda1c73.617974","name":"broken clouds","func":"msg.payload=\"10% to 50% sunlight will reach earth\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1040,"wires":[["80d46711.3a1b18","7b706613.b30c78"]]},{"id":"821ab0c1.5722b","type":"function","z":"6dda1c73.617974","name":"overcast","func":"msg.payload=\"Less then 10 % sunlight will reach earth\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1080,"wires":[["80d46711.3a1b18","7b706613.b30c78"]]},{"id":"8e1a539c.8b088","type":"function","z":"6dda1c73.617974","name":"cloud conversion to percentage ","func":"msg.payload=msg.payload.clouds.all*100/100\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":620,"wires":[["b7fdef72.b73ef"]]},{"id":"90663de8.47111","type":"comment","z":"6dda1c73.617974","name":"Open weather api,suggest and weather foreacast ","info":"In this flow you can observe that we have used open weather api key based on country code .The flow is used fir giving crop suggestion and cloud cover suggetsion.Note humiduty suggestion is given from ibm iot in node flow .The wind speed suggestion based on which irrespective of only irrigation he can also get some other onformation related to the filed and weather.the table used o=is used for giving the weather forecats of today ","x":540,"y":80,"wires":[]},{"id":"b44a86e7.ed8298","type":"comment","z":"6dda1c73.617974","name":"clcik here to start ","info":"clcik here to start ","x":100,"y":300,"wires":[]},{"id":"fded1f8e.55b49","type":"function","z":"6dda1c73.617974","name":"","func":"msg.payload=\"good for growing rice \"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1140,"wires":[["eb81f3ee.4d531","1dea023a.53182e"]]},{"id":"6699bb2e.233504","type":"debug","z":"6dda1c73.617974","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":340,"wires":[]},{"id":"f288a78c.ed5d38","type":"ui_group","z":"","name":"weather forecast of  today","tab":"83df41ae.5b42b","order":4,"disp":true,"width":"8","collapse":true},{"id":"4caba6aa.65fcb8","type":"ui_group","z":"","name":"Suggest for crops based on weather conditions","tab":"83df41ae.5b42b","order":2,"disp":true,"width":"12","collapse":true},{"id":"ed7825b0.f7d0e8","type":"ui_group","z":"","name":"Soil Moisture table","tab":"83df41ae.5b42b","order":5,"disp":true,"width":"10","collapse":true},{"id":"83df41ae.5b42b","type":"ui_tab","z":"","name":"Motor controller and weather forecast ","icon":"dashboard","order":2,"disabled":false,"hidden":false}]