flow 2motor controller and irrigation flow.json
[{"id":"d406297b.7db7c8","type":"tab","label":" flow 2 Motor controller and irrigation","disabled":false,"info":""},{"id":"882e84d8.e1c128","type":"ui_text_input","z":"d406297b.7db7c8","name":"","label":"Motor instruction","tooltip":"","group":"20031b9e.5718a4","order":1,"width":"4","height":"3","passthru":true,"mode":"text","delay":300,"topic":"","x":760,"y":180,"wires":[[]]},{"id":"f9ec992d.5f7d98","type":"ui_button","z":"d406297b.7db7c8","name":"motor on button","group":"20031b9e.5718a4","order":2,"width":0,"height":0,"passthru":true,"label":"motor on button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":160,"y":140,"wires":[["8eaa47ee.20ae38","5c3e38b7.972708","a855b8ea.9f12f8"]]},{"id":"7799bad2.bfce24","type":"ui_button","z":"d406297b.7db7c8","name":"","group":"20031b9e.5718a4","order":3,"width":0,"height":0,"passthru":true,"label":"motor off button ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\"}","payloadType":"json","topic":"","x":120,"y":300,"wires":[["5889f5cf.5b6aec","51634291.7aaf3c","a89da974.d1cfd8"]]},{"id":"3e7ca360.d512cc","type":"ui_toast","z":"d406297b.7db7c8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":860,"y":380,"wires":[]},{"id":"1b804ea5.af6781","type":"ui_audio","z":"d406297b.7db7c8","name":"","group":"","voice":"en-US","always":true,"x":820,"y":300,"wires":[]},{"id":"a996866a.7e4e18","type":"http request","z":"d406297b.7db7c8","name":"Http request based on city code","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=New Delhi,IN,IN-DL&appid=b398bed7efbe7bdfc69b00b3ed4e0b0b","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":860,"wires":[["b6366376.bc7e3","a26f3e46.89072","9961863b.050868","ec602aa5.4d9978"]]},{"id":"66ac71df.31118","type":"inject","z":"d406297b.7db7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":980,"wires":[["a996866a.7e4e18"]]},{"id":"b6366376.bc7e3","type":"debug","z":"d406297b.7db7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":780,"wires":[]},{"id":"a26f3e46.89072","type":"function","z":"d406297b.7db7c8","name":"kelvin to degree conversion","func":"msg.payload=Math.round(msg.payload.main.feels_like-273)\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":820,"wires":[["cdb0feba.6b8c5"]]},{"id":"cdb0feba.6b8c5","type":"switch","z":"d406297b.7db7c8","name":"temprature","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"str"},{"t":"gt","v":"30","vt":"str"},{"t":"lt","v":"39","vt":"str"},{"t":"gt","v":"10","vt":"str"},{"t":"lt","v":"29","vt":"str"}],"checkall":"false","repair":true,"outputs":5,"x":510,"y":900,"wires":[["51f1eddb.cc07d4"],["2ddf6fa7.f3074"],["2ddf6fa7.f3074"],["876b4e0e.4a4da"],["876b4e0e.4a4da"]]},{"id":"1e3542e6.13717d","type":"ui_text","z":"d406297b.7db7c8","group":"20031b9e.5718a4","order":6,"width":"0","height":"0","name":"","label":"Temprature suugestion for pumping farm","format":"{{msg.payload}}","layout":"col-center","x":1080,"y":1080,"wires":[]},{"id":"51f1eddb.cc07d4","type":"function","z":"d406297b.7db7c8","name":"too high temprature","func":"msg.payload=\"Temparture is too high irrigate more then usual\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":840,"wires":[["1e3542e6.13717d","f1db1466.0903f8"]]},{"id":"2ddf6fa7.f3074","type":"function","z":"d406297b.7db7c8","name":"a liitle higher irrigation ","func":"msg.payload=\"A little higher irrigation is required\"\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":900,"wires":[["1e3542e6.13717d","f1db1466.0903f8"]]},{"id":"876b4e0e.4a4da","type":"function","z":"d406297b.7db7c8","name":"sprinkle less water","func":"msg.pyload=\"sprinkle less water\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":980,"wires":[["1e3542e6.13717d","f1db1466.0903f8"]]},{"id":"f1db1466.0903f8","type":"debug","z":"d406297b.7db7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":960,"wires":[]},{"id":"ec602aa5.4d9978","type":"switch","z":"d406297b.7db7c8","name":"clouds","property":"payload.clouds.all","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"10","vt":"str"},{"t":"gte","v":"10","vt":"str"},{"t":"lt","v":"25","vt":"str"},{"t":"gt","v":"25","vt":"str"},{"t":"lt","v":"50","vt":"str"},{"t":"gte","v":"50","vt":"str"},{"t":"lt","v":"90","vt":"str"},{"t":"gt","v":"90","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":390,"y":1000,"wires":[["d1c67c40.2a148"],["d1c67c40.2a148"],["d1c67c40.2a148"],["d1c67c40.2a148"],["e8da935e.7cb9c"],["e8da935e.7cb9c"],["d681c5da.bd4518"],["d681c5da.bd4518"],["6408641b.b8dbfc"]]},{"id":"d1c67c40.2a148","type":"function","z":"d406297b.7db7c8","name":"clear sky","func":"msg.pyload=\"Chance of clear sky irrigate your field normally\"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1120,"wires":[["e9159407.2a5c58","6ea3c76a.b94128"]]},{"id":"e8da935e.7cb9c","type":"function","z":"d406297b.7db7c8","name":"nromal level of irrigation","func":"msg.payload=\"normal levels of irrigation based on need\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1160,"wires":[["e9159407.2a5c58","6ea3c76a.b94128"]]},{"id":"6ea3c76a.b94128","type":"debug","z":"d406297b.7db7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":1140,"wires":[]},{"id":"e9159407.2a5c58","type":"ui_text","z":"d406297b.7db7c8","group":"20031b9e.5718a4","order":5,"width":0,"height":0,"name":"","label":"suggestion based on cloud","format":"{{msg.payload}}","layout":"col-center","x":1020,"y":1240,"wires":[]},{"id":"9961863b.050868","type":"switch","z":"d406297b.7db7c8","name":"weather","property":"payload.weather[0].description","propertyType":"msg","rules":[{"t":"eq","v":"thunderstrorm","vt":"str"},{"t":"eq","v":"snow","vt":"str"},{"t":"eq","v":"mist","vt":"str"},{"t":"eq","v":"rain","vt":"str"},{"t":"eq","v":"shower rain","vt":"str"},{"t":"eq","v":"broken clouds","vt":"str"},{"t":"eq","v":"scattered clouds","vt":"str"},{"t":"eq","v":"few clouds","vt":"str"},{"t":"eq","v":"clear sky","vt":"str"},{"t":"eq","v":"haze","vt":"str"}],"checkall":"false","repair":true,"outputs":10,"x":220,"y":1080,"wires":[["e3e1d381.ee302"],["b26d4011.a556d"],["42808cbe.386374"],["9435968a.6eac78"],["95bfcf79.b5d23"],["2278ab34.134714"],["f2826a16.d30808"],["db9878db.cea418"],["615a560d.6e2758"],["9ed87304.267e3"]]},{"id":"e3e1d381.ee302","type":"function","z":"d406297b.7db7c8","name":"Thunderstrom","func":"msg.pyload=\"No need for irrigation\"\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1260,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"b26d4011.a556d","type":"function","z":"d406297b.7db7c8","name":"snow","func":"msg.pyload-\"No need for irrigation\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":1320,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"42808cbe.386374","type":"function","z":"d406297b.7db7c8","name":"mist","func":"msg.payload-=\"Litle irrgation can be done\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1400,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"9435968a.6eac78","type":"function","z":"d406297b.7db7c8","name":"rain","func":"msg.pyload=\"No need for irrigation\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1460,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"2278ab34.134714","type":"function","z":"d406297b.7db7c8","name":"broken clouds","func":"msg.payload-\"Irrigate the filed normal then usual\"\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1600,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"db9878db.cea418","type":"function","z":"d406297b.7db7c8","name":"few clouds","func":"msg.pyload=\"proceed with normal irrigation\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1400,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"f2826a16.d30808","type":"function","z":"d406297b.7db7c8","name":"scattered clouds","func":"msg.pyload=\"irrigate normally\"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1340,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"95bfcf79.b5d23","type":"function","z":"d406297b.7db7c8","name":"shower rain","func":"msg.payload=\"Irrgate slightly higher then usual\"\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1500,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"615a560d.6e2758","type":"function","z":"d406297b.7db7c8","name":"clear sky","func":"msg.pyload=\"Proceed with normal irrigation\"\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":1740,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"e044b3ae.9fbee","type":"ui_text","z":"d406297b.7db7c8","group":"20031b9e.5718a4","order":7,"width":0,"height":0,"name":"","label":"suggestion based on weather","format":"{{msg.payload}}","layout":"col-center","x":540,"y":1700,"wires":[]},{"id":"c42fdd9d.bc901","type":"debug","z":"d406297b.7db7c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":1600,"wires":[]},{"id":"9ed87304.267e3","type":"function","z":"d406297b.7db7c8","name":"haze","func":"msg.payload=\" A little higher Irrigation is required\"\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":1840,"wires":[["e044b3ae.9fbee","c42fdd9d.bc901"]]},{"id":"d681c5da.bd4518","type":"function","z":"d406297b.7db7c8","name":"Alltle higher irrigation","func":"msg.payload=\"A liitle less irrigation is required\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1220,"wires":[["6ea3c76a.b94128"]]},{"id":"6408641b.b8dbfc","type":"function","z":"d406297b.7db7c8","name":"no need ","func":"msg.payload=\"No need for much irrigation\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1280,"wires":[["e9159407.2a5c58"]]},{"id":"8eaa47ee.20ae38","type":"ibmiot out","z":"d406297b.7db7c8","authentication":"apiKey","apiKey":"d724f584.59bdb8","outputType":"cmd","deviceId":"motor_261","deviceType":"Motor","eventCommandType":"motor on","format":"json","data":"motor on","qos":"0","name":"IBM IoT","service":"registered","x":440,"y":160,"wires":[]},{"id":"32c4eb7c.3b7064","type":"inject","z":"d406297b.7db7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["f9ec992d.5f7d98"]]},{"id":"eee8a3b4.a0a8b","type":"inject","z":"d406297b.7db7c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["7799bad2.bfce24"]]},{"id":"5889f5cf.5b6aec","type":"ibmiot out","z":"d406297b.7db7c8","authentication":"apiKey","apiKey":"d724f584.59bdb8","outputType":"cmd","deviceId":"motor_261","deviceType":"Motor","eventCommandType":"{\"item\":\"motor off\"}","format":"json","data":"motor off","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":380,"wires":[]},{"id":"5c3e38b7.972708","type":"ibmiot out","z":"d406297b.7db7c8","authentication":"apiKey","apiKey":"d724f584.59bdb8","outputType":"evt","deviceId":"motor_261","deviceType":"Motor","eventCommandType":" motor on","format":"json","data":"motor on","qos":0,"name":"IBM IoT","service":"registered","x":460,"y":100,"wires":[]},{"id":"51634291.7aaf3c","type":"ibmiot out","z":"d406297b.7db7c8","authentication":"apiKey","apiKey":"d724f584.59bdb8","outputType":"evt","deviceId":"motor_261","deviceType":"Motor","eventCommandType":"motor off","format":"json","data":"","qos":0,"name":"IBM IoT","service":"registered","x":360,"y":440,"wires":[]},{"id":"a855b8ea.9f12f8","type":"change","z":"d406297b.7db7c8","name":"motor on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motor on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["882e84d8.e1c128","1b804ea5.af6781","3e7ca360.d512cc"]]},{"id":"a89da974.d1cfd8","type":"change","z":"d406297b.7db7c8","name":"motor off","rules":[{"t":"set","p":"payload","pt":"msg","to":"motor off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["882e84d8.e1c128","1b804ea5.af6781","3e7ca360.d512cc"]]},{"id":"b14fc1de.44f44","type":"comment","z":"d406297b.7db7c8","name":"motor on /off","info":"This flow i used to send the motor off /on data to the iot ui and to the device motor_261 that I have created in the ibm watson bluemix .The notification is used for displaying the notification.The status of the motor can be observed on the python program also.","x":350,"y":40,"wires":[]},{"id":"6705f4f6.f2877c","type":"comment","z":"d406297b.7db7c8","name":"suggestion for iirigation","info":"This flow takes the data from the open weather api using the get method here we have used city code codes for getting the data .The flow is basically used ofr giving the irrgation suggesttion to the farmer for turning the motor on or off ","x":380,"y":700,"wires":[]},{"id":"dc1ccb4a.d4d5e8","type":"comment","z":"d406297b.7db7c8","name":"click here to start ","info":"","x":80,"y":1120,"wires":[]},{"id":"7836913.438717","type":"comment","z":"d406297b.7db7c8","name":"clcik on two timestamp nodes to start","info":"","x":200,"y":240,"wires":[]},{"id":"20031b9e.5718a4","type":"ui_group","z":"","name":"Motor controller and suggestion for irrigation of farm","tab":"83df41ae.5b42b","order":6,"disp":true,"width":"10","collapse":true},{"id":"d724f584.59bdb8","type":"ibmiot","z":"","name":"motor turn on /off","keepalive":"60","serverName":"g5cd7j.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"83df41ae.5b42b","type":"ui_tab","z":"","name":"Motor controller and weather forecast ","icon":"dashboard","order":2,"disabled":false,"hidden":false}]