flow 1 iot sesnor.json
[{"id":"b2eac785.52df98","type":"tab","label":"Flow 1 iot sesnsor ","disabled":false,"info":""},{"id":"b2c342f1.afbeb","type":"debug","z":"b2eac785.52df98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":460,"wires":[]},{"id":"734fea2f.c560d4","type":"ibmiot in","z":"b2eac785.52df98","authentication":"apiKey","apiKey":"d724f584.59bdb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"raspberrypi","applicationId":"","deviceType":"my-first-device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":220,"wires":[["6714714d.fc3ff","b489d6f8.e7e918","90074078.749b2","f35a8d92.4183c"]]},{"id":"6714714d.fc3ff","type":"function","z":"b2eac785.52df98","name":"Temparature ","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["c46c230.65df6e","b2c342f1.afbeb","19db7b28.eb4de5","8eaf80a9.34f3c"]]},{"id":"b489d6f8.e7e918","type":"function","z":"b2eac785.52df98","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["b2c342f1.afbeb","b2a10fb5.e09fc","338a1025.6a4a9","3b94bf80.fde96"]]},{"id":"90074078.749b2","type":"function","z":"b2eac785.52df98","name":"object temp","func":"msg.payload=msg.payload.d.objectTemp\nvar x =\"soil tmperature\"\nreturn msg","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["b2c342f1.afbeb","a95ed357.45ea8","ede32243.bddeb","e15a83d1.b1a07"]]},{"id":"b2a10fb5.e09fc","type":"ui_gauge","z":"b2eac785.52df98","name":"humidity ","group":"72ea9201.1a0f6c","order":2,"width":"0","height":"0","gtype":"wave","title":"humidity gauge ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#13b413","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":320,"wires":[]},{"id":"a95ed357.45ea8","type":"ui_gauge","z":"b2eac785.52df98","name":"object temp","group":"f9d39f18.07da3","order":2,"width":"0","height":"0","gtype":"compass","title":"soil moisture","label":"bars","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":480,"wires":[]},{"id":"c46c230.65df6e","type":"ui_gauge","z":"b2eac785.52df98","name":"temprature ","group":"f36c1e72.7e999","order":3,"width":"0","height":"0","gtype":"gage","title":"temprature ","label":"^celsius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":540,"wires":[]},{"id":"338a1025.6a4a9","type":"ui_text","z":"b2eac785.52df98","group":"72ea9201.1a0f6c","order":1,"width":0,"height":0,"name":"Humidity ","label":"Humidity value ","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":280,"wires":[]},{"id":"ede32243.bddeb","type":"ui_text","z":"b2eac785.52df98","group":"f9d39f18.07da3","order":1,"width":0,"height":0,"name":"","label":"soil moisture value ","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":540,"wires":[]},{"id":"19db7b28.eb4de5","type":"ui_text","z":"b2eac785.52df98","group":"f36c1e72.7e999","order":2,"width":0,"height":0,"name":"","label":"Temprature value ","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":600,"wires":[]},{"id":"3b94bf80.fde96","type":"ui_chart","z":"b2eac785.52df98","name":"Hourly Humidity data of the farm ","group":"72ea9201.1a0f6c","order":3,"width":0,"height":0,"label":"Humidity variation with time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2177b5","#20497e","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":360,"wires":[[]]},{"id":"e15a83d1.b1a07","type":"ui_chart","z":"b2eac785.52df98","name":"Hourly Soil Mositure of the farm ","group":"f9d39f18.07da3","order":3,"width":0,"height":0,"label":"Soil moisture varition with time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#425266","#ff7f0e","#2ca02c","#98df8a","#c21414","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":440,"wires":[[]]},{"id":"8eaf80a9.34f3c","type":"ui_chart","z":"b2eac785.52df98","name":"Hourly Temparture of the farm ","group":"f36c1e72.7e999","order":4,"width":0,"height":0,"label":"temprature variation with time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":330,"y":640,"wires":[[]]},{"id":"f35a8d92.4183c","type":"switch","z":"b2eac785.52df98","name":"humidity switch","property":"payload.d.humidity","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"},{"t":"gte","v":"40","vt":"num"},{"t":"gte","v":"50","vt":"str"},{"t":"lte","v":"60","vt":"str"},{"t":"gt","v":"60","vt":"str"},{"t":"lte","v":"70","vt":"str"},{"t":"gt","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":180,"y":80,"wires":[["59ca4a87.0aadc4"],["917068d3.0a7408"],["380a1e33.ab7792"],["380a1e33.ab7792"],["fe84d974.4fd968"],["fe84d974.4fd968"],["f0ce3219.04645"]]},{"id":"917068d3.0a7408","type":"function","z":"b2eac785.52df98","name":"cactus","func":"msg.payload=\"This humidity is preferred for cactus growth\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["ac2e52bb.638d7","55e3ee4a.db64e"]]},{"id":"380a1e33.ab7792","type":"function","z":"b2eac785.52df98","name":"flowering","func":"msg.payload=\"Preferred himidity for flowering plants not grown in desert\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":140,"wires":[["ac2e52bb.638d7","55e3ee4a.db64e"]]},{"id":"fe84d974.4fd968","type":"function","z":"b2eac785.52df98","name":"vegetables","func":"msg.payload=\"preferred humidity for growing vegetables and also for rice,wheat,bajra\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["ac2e52bb.638d7","55e3ee4a.db64e"]]},{"id":"ac2e52bb.638d7","type":"ui_text","z":"b2eac785.52df98","group":"4caba6aa.65fcb8","order":3,"width":"0","height":"0","name":"","label":"humidity ","format":"{{msg.payload}}","layout":"col-center","x":720,"y":60,"wires":[]},{"id":"59ca4a87.0aadc4","type":"function","z":"b2eac785.52df98","name":"unsuitable","func":"msg.payload=\"Unsuitable for plantation\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["ac2e52bb.638d7","55e3ee4a.db64e"]]},{"id":"f0ce3219.04645","type":"function","z":"b2eac785.52df98","name":"Not transpire","func":"msg.payload=\"Plants will not transpire ,very high humidity\"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["ac2e52bb.638d7","55e3ee4a.db64e"]]},{"id":"55e3ee4a.db64e","type":"debug","z":"b2eac785.52df98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":140,"wires":[]},{"id":"7fa8d977.ab4bd8","type":"comment","z":"b2eac785.52df98","name":"iot simulator data","info":"this flows is used to take the ibm iot simulator data and dipslays the same on ui.Moreover we have used humidity ti provide the plants that can be grown ","x":140,"y":480,"wires":[]},{"id":"d724f584.59bdb8","type":"ibmiot","z":"","name":"motor turn on /off","keepalive":"60","serverName":"g5cd7j.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"72ea9201.1a0f6c","type":"ui_group","z":"","name":"humidity","tab":"409ea869.c3d4c8","order":2,"disp":true,"width":"6","collapse":true},{"id":"f9d39f18.07da3","type":"ui_group","z":"","name":"Soil moisture ","tab":"409ea869.c3d4c8","order":3,"disp":true,"width":"6","collapse":true},{"id":"f36c1e72.7e999","type":"ui_group","z":"","name":"Temprature ","tab":"409ea869.c3d4c8","order":2,"disp":true,"width":"7","collapse":true},{"id":"4caba6aa.65fcb8","type":"ui_group","z":"","name":"Suggest for crops based on weather conditions","tab":"83df41ae.5b42b","order":2,"disp":true,"width":"12","collapse":true},{"id":"409ea869.c3d4c8","type":"ui_tab","z":"","name":"farm data","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"83df41ae.5b42b","type":"ui_tab","z":"","name":"Motor controller and weather forecast ","icon":"dashboard","order":2,"disabled":false,"hidden":false}]